<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href={{ url_for(`static`, filename='css/styles.css') }}>
    <title>Profile</title>
</head>
<body style="background-color:rgb(114, 199, 255)">
    <nav>
        <button class="dashboard"><a href="/logout" style="color:black">Logout</a></button>
        <button class="dashboard"><a href="/" style="color:black">Home</a></button>
        {% if session.userinfo.email == "josebrouwer1@gmail.com" or session.userinfo.email == "yassarrich@gmail.com" or session.userinfo.email == "chashimahiulislam@gmail.com"%}
        <button class="dashboard"><a href="/adminView" style="color:black">Admin View</a></button>
        {% endif %}
      </nav>
    <h2>Welcome {{session.userinfo.name}}!</h2>
    <h3>Email: {{session.userinfo.email}}</h3>
    <h3>Liked Post:</h3>

    {% for item in articles %}
    <div class="flex-container">
      <div class="item">
        <p>TITLE: {{item[2]}}</p>
      </div>
        
    </div>
    {% endfor %}
</body>
</html>
