<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <title>News App</title>
    </style>
  </head>

  <body>
    {% if session %} 
    <nav class = "navbar">
     <div class="logo">pytech.news</div> 
     <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <div class="menu">
            <div class=&rdquo;menu&rdquo;>
             <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/about">About</a></li>
            {% if session.userinfo.email == "yassarrich@gmail.com"%}
            <li><a href="/adminView">Admin View</a></li>   
            </div>
            
        </div>
     </ul>

      {% endif %}
    </nav>
    
    <div class="app">
        <div class="container">
          <script src="https://kit.fontawesome.com/56942480bb.js" crossorigin="anonymous"></script>
          {% for item in sub %}
              <h2>
                  <a href={{item.urlLink}}><div>{{item.title}}</div></a>
              </h2>
              <p>
                  <a href="{{ url_for('like', art_title=item.title, art_id=item.id, action='like') }}"><div class="like">Like</div></a>
              </p>
              
                  <div class="">{{item.likes}}</div>
                
            <div class="dislike">     
              <p>
                  <a href="{{ url_for('like', art_title=item.title, art_id=item.id, action='dislike') }}"><div class="">Dislike</div></a>
              </p>
             </div>  
           
          {% endfor %}
        </div>
    </div>
    {% else %}
    <h1>Welcome Guest</h1>
    <p><a href="/login">Login</a></p>

  {% endif %}

  </body>
</html>